<app-hero-img class="" [backgroundUrlImg]="'assets/Portada.jpg'">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-xs-12 d-flex my-3 justify-content-center align-items-center h-100 w-75"
      >
        <div class="jumbotron text-center bg-primary text-white">
          <h1 class="">Renovando Vidas</h1>
          <hr class="my-2 bg-white w-50" />

          <p class="text-break">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus
            delectus ducimus consequatur, harum est officiis expedita maiores,
            accusantium, ex neque illo aperiam at quaerat reiciendis ad dolores
            assumenda quod facere. Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Vero, eius enim iure ipsum perspiciatis laudantium
            veritatis minima doloremque explicabo eaque autem nisi animi
            quibusdam assumenda? Distinctio repellendus provident doloremque
            veritatis?
          </p>
          <!-- <p>More info</p>
          <p class="lead">
            <a
              class="btn btn-primary btn-lg"
              href="Jumbo action link"
              role="button"
              >Jumbo action name</a
            >
          </p> -->
        </div>
      </div>
    </div>
  </div>
</app-hero-img>
<app-img-word
  [urlBackground]="
    'https://cdn.pixabay.com/photo/2017/01/07/15/07/bible-1960635_1280.jpg'
  "
></app-img-word>
<app-hero-color [backgroundColor]="'#007bff'">
  <div
    class="container-fluid d-flex justify-content-center align-items-center"
    style="min-height: 95vh"
  >
    <div
      class="row h-100 justify-content-center align-items-center my-5 text-white"
    >
      <div class="col-xs-12 w-75 my-5 p-1">
        <div class="media">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <img
                src="assets/FundacionReskateJuvenil/FundacionImg2/2 (7).jpg"
                class="mr-3 w-100 align-self-center img-fluid"
                alt="..."
              />
            </div>
            <div class="col-xs-12 col-md-8">
              <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                nisi vulputate fringilla. Donec lacinia congue felis in
                faucibus.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 w-75 my-5 p-1">
        <div class="media">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                nisi vulputate fringilla. Donec lacinia congue felis in
                faucibus.
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <img
                src="assets/FundacionReskateJuvenil/FundacionImg2/2 (8).jpg"
                class="mr-3 w-100 align-self-center img-fluid"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 w-75 my-5 p-1">
        <div class="media">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <img
                src="assets/FundacionReskateJuvenil/FundacionImg2/2 (12).jpg"
                class="mr-3 w-100 align-self-center img-fluid"
                alt="..."
              />
            </div>
            <div class="col-xs-12 col-md-8">
              <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                nisi vulputate fringilla. Donec lacinia congue felis in
                faucibus.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-hero-color>

<app-hero-img
  class=""
  [backgroundUrlImg]="
    'https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058_1280.jpg'
  "
>
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-xs-12 d-flex my-3 justify-content-center align-items-center h-100 w-75"
      >
        <app-gallery
          [nameCarrousel]="'galeriaFront'"
          [urlsImgs]="gallery1"
        ></app-gallery>
      </div>
    </div>
  </div>
</app-hero-img>
