<app-hero-color [backgroundColor]="'white'" [heigthContainer]="'95vh'">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-xs-12 col-md-12 text-center my-5">
        <h1>DONACIONES</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto
          itaque labore ratione aliquam doloribus, voluptas nesciunt recusandae!
          Maiores tempora aperiam dolorem possimus voluptates adipisci qui
          nesciunt magnam sapiente iste!
        </p>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="row d-flex">
          <div class="col-xs-12 col-md-3 mb-3">
            <div
              class="card text-white bg-primary mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header">BANCO DE BOGOTA</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 mb-3">
            <div
              class="card text-white bg-danger mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                  est numquam minus tempora laboriosam itaque excepturi sapiente
                  rerum recusandae sint quidem incidunt exercitationem qui,
                  consequatur ad tenetur nesciunt perferendis labore!
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 mb-3">
            <div
              class="card text-white bg-primary mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 mb-3">
            <div
              class="card text-white bg-danger mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-hero-color>
