<app-hero-color [backgroundColor]="'white'" [heigthContainer]="'95vh'">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-xs-12 col-md-12 text-center my-5">
        <h1>DONACIONES</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto
          itaque labore ratione aliquam doloribus, voluptas nesciunt recusandae!
          Maiores tempora aperiam dolorem possimus voluptates adipisci qui
          nesciunt magnam sapiente iste!
        </p>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="row d-flex">
          <div class="col-xs-12 col-md-3 mb-3">
            <div
              class="card text-white bg-primary mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header text-center">BONOS VOLUNTARIOS</div>
              <div class="card-body">
                <h5 class="card-title">BANCO DE BOGOTA</h5>
                <p class="card-text">
                  También puedes realizar aportes económicos directamente en
                  nuestras instalaciones, con el propósito de mejorar la calidad
                  de vida de nuestros usuarios.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 mb-3">
            <div
              class="card text-white bg-danger mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header text-center">DONACIONES EN ESPECIE</div>
              <div class="card-body">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">
                  Para nosotros es muy gratificante contar con los aportes que
                  puedas brindar, estos pueden ser alimentos, útiles de aseo,
                  ropa, electrodomésticos, enseres de cocina, y cualquier otro
                  elemento con el que creas que puedes contribuir al que hacer
                  de nuestro programa.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 mb-3">
            <div
              class="card text-white bg-primary mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header text-center">PATROCINA UNA ACTIVIDAD</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">
                  Como parte del programa, organizamos actividades lúdicas,
                  culturales, recreativas, deportivas, evangelísticas, talleres,
                  etc, que son patrocinadas por personas como tú, o empresas
                  como la tuya. Contáctanos para más información.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 mb-3">
            <div
              class="card text-white bg-danger mb-3"
              style="max-width: 18rem"
            >
              <div class="card-header text-center">PLAN PADRINO</div>
              <div class="card-body">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">
                  Apadrinar a uno o varios jóvenes es una gran manera de ayudar.
                  Así se les garantiza la participación en nuestro programa,
                  brindándoles la oportunidad de cambiar su estilo de vida, a
                  través de un aporte mensual o anual para su sostenimiento.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-hero-color>
