<app-hero-img
  [backgroundUrlImg]="
    'https://pixabay.com/get/57e2d1464d55aa14f6d1867dda3536781539dfec5b56744f_1920.jpg'
  "
>
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-xs-12 d-flex my-3 justify-content-center align-items-center h-100 w-75"
      >
        <div class="jumbotron text-center text-white bg-primary">
          <h1 class="">Renovando Vidas</h1>
          <hr class="my-2" />

          <p class="text-break">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus
            delectus ducimus consequatur, harum est officiis expedita maiores,
            accusantium, ex neque illo aperiam at quaerat reiciendis ad dolores
            assumenda quod facere. Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Vero, eius enim iure ipsum perspiciatis laudantium
            veritatis minima doloremque explicabo eaque autem nisi animi
            quibusdam assumenda? Distinctio repellendus provident doloremque
            veritatis?
          </p>
        </div>
      </div>
    </div>
  </div>
</app-hero-img>

<app-hero-color [backgroundColor]="'white'" [heigthContainer]="'95vh'">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-xs-12 d-flex justify-content-center align-items-center h-100 w-75 border-left border-primary mb-5 mt-3"
      >
        <div class="bg-white">
          <h1 class="text-center">Mision</h1>
          <hr class="w-75 bg-primary" />
          <P class="text-justify p-2">
            RESKATE JUVENIL, es un programa que busca realizar procesos de
            prevención e intervención de jóvenes y adultos afectados por el
            flagelo de las adicciones (drogas, alcohol y problemas
            conductuales). Nuestra misión es rehabilitar de manera integral a la
            población vulnerable brindándole los medios para que cada persona
            descubra en sí misma su potencial y se desarrolle como un ser
            social, mediante la orientación, diagnóstico, tratamiento,
            rehabilitación y resocialización de nuestros usuarios.
          </P>
        </div>
      </div>
      <div
        class="col-xs-12 d-flex mt-5 mb-3 justify-content-center align-items-center h-100 w-75 border-right border-primary"
      >
        <div class="bg-white">
          <h1 class="text-center">Vision</h1>
          <hr class="w-75 bg-primary" />

          <P class="p-2">
            Nos proyectamos como una organización social líder en Colombia por
            la calidad en nuestros servicios, fruto del talento humano
            competente y comprometido en ayudar a la población vulnerable y así
            construir una sociedad prospera y equitativa a partir de los
            valores.
          </P>
        </div>
      </div>
    </div>
  </div>
</app-hero-color>

<app-hero-img
  [backgroundUrlImg]="
    'https://cdn.pixabay.com/photo/2017/03/07/09/10/parchment-2123461_960_720.jpg'
  "
>
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-xs-12 d-flex my-3 justify-content-center align-items-center h-100 w-75"
      >
        <div class="jumbotron text-center text-white bg-primary">
          <h1 class="">{{ "filosofia" | uppercase }}</h1>
          <hr class="my-2" />

          <p class="text-break">
            Los colaboradores de nuestra Fundación, conscientes de las
            necesidades de los niños y Jóvenes que atendemos a través de
            nuestros programas, concentran su esfuerzo en minimizar los factores
            de vulnerabilidad, la propensión a la delincuencia, el arraigamiento
            a las drogas, entre otros. Por ello, nuestro trabajo diario se
            fundamenta en los siguientes principios rectores: “El buen trato se
            garantiza a los jóvenes con altos valores.” "El ser humano es
            Integral, por lo cual su formación y desarrollo deben ser
            integrales." "La convivencia pacífica, basada en el amor, el respeto
            y la tolerancia." “El amor al prójimo como una vivencia real de
            nuestro amor a Dios.” “La familia como base del fortalecimiento
            social y comunitario.” “La gratitud de valorar lo que se tiene.”
            "Centraremos nuestra acción en el desarrollo físico, mental,
            espiritual y social.”
          </p>
        </div>
      </div>
    </div>
  </div>
</app-hero-img>

<app-hero-color [backgroundColor]="'white'" [heigthContainer]="'95vh'">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div
        class="col-xs-12 d-flex justify-content-center align-items-center h-100 w-75 border-left border-primary mb-5 mt-3"
      >
        <div class="bg-white">
          <h1 class="text-center">valores</h1>
          <hr class="w-75 bg-primary" />
          <P class="text-justify p-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            repudiandae dolore illo, inventore aperiam illum ipsam. Alias
            ratione dolores repellat explicabo sit, saepe doloremque
            reprehenderit! Fugiat rem eos odio quos. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Dignissimos, laboriosam blanditiis.
            Incidunt labore doloribus minima blanditiis atque, illo cum dicta.
            Possimus sapiente molestiae ea quaerat praesentium consectetur alias
            amet ad! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Dolores veniam placeat consectetur, deleniti, illum sit repellat
            omnis quo, libero dignissimos cumque perspiciatis et harum fuga
            quasi! Animi mollitia iste exercitationem!
          </P>
        </div>
      </div>
      <div
        class="col-xs-12 d-flex mt-5 mb-3 justify-content-center align-items-center h-100 w-75 border-right border-primary"
      >
        <div class="bg-white">
          <h1 class="text-center">Historia</h1>
          <hr class="w-75 bg-primary" />

          <P class="p-2">
            La historia de Rekate Juvenil parte de hechos difíciles que marcaron
            el corazón de un hombre dedicado a servir a Dios, quien formaba
            parte de un grupo de jóvenes con mucho corazón pero con poco dinero.
            Se trata de Fermín Rodríguez, quien desde 1998 comenzó a
            involucrarse en labores sociales, brindando ayuda a los niños que lo
            solicitaban desesperadamente, llevándolos a lugares donde se
            esperaba que les brindaran amor y cuidados, pero allí los
            maltrataban. De esos lugares salían en peores condiciones,
            suplicando ayuda con lágrimas en sus ojos. Esta repetida situación
            movió a Fermín Rodríguez a tomar la decisión de realizar un proyecto
            para las personas más desfavorecidas. Además, por la misma época
            hubo otra situación que sería decisiva: el caso de un niño de nueve
            años que moría de cáncer, en el mismo hospital donde su hermano
            tenía el mismo diagnóstico. Estas experiencias serían el escenario
            propicio para el llamado que Dios le tenía a este hombre visionario:
            conseguir un lugar amplio, limpio, adecuado para albergar a los
            jóvenes y niños que lo necesitaban, pero sobre todo, un lugar en el
            que pudieran recibir ese amor y aceptación que la sociedad les había
            negado. Es así como en el año 2005, y con el apoyo de algunos
            amigos, consiguió una casa en el barrio La Alquería de Bogotá, dando
            inicio al Programa Reskate Juvenil. Sin embargo, las dificultades no
            se hicieron esperar, y en 2006 perdió todo el apoyo que hasta ahora
            había conseguido. Pero Dios le dijo que no temiera y lo respaldó
            aparejando una casa más amplia situada en el barrio El Jazmín, con
            zonas verdes cercanas, espacio para realizar actividades, dos
            cocinas y varios cuartos. Esa es la actual sede del programa. Aunque
            con varias dificultades de tipo económico, Dios ha sostenido la
            casa, y el Pastor Fermín Rodríguez no ha dejado de lado las
            brigadas, programas educativos y alimentarios en otras zonas
            marginadas, conferencias y en general, el servicio a quienes lo
            necesitan.
          </P>
        </div>
      </div>
    </div>
  </div>
</app-hero-color>
